<style>
    body {
        background-color: #470d64;
    }
</style>

<header>
    <h1>Perfil de usuario {{login_type}}</h1>
</header>
<div class="profile-container">
    <h2>Usuario: {{user.firstName}}, {{user.lastName}}</h2>
    <h3>Email: {{user.email}}</h3>
    <h3>Rol: {{user.role}}</h3>
    <h3>Edad: {{user.age}}</h3>
    <h3>Id del carrito: {{user.cart}}</h3>

    <div class="user-buttons">
        <form action="/views/products" method="get">
            <button type="submit" class="btn btn-success">Vista de productos</button>
        </form>
        <form action="/sessions/logout" method="post">
            <button type="submit" class="btn btn-success">Salir</button>
        </form>
    </div>
</div>