<div>
    <h1>Lista de productos</h1>
    <ul class="list-group list-group-numbered" id="list-group-container">
    {{#each products}}
        <li class="list-group-item">{{title}}, ${{price}}, {{stock}}, {{category}}, {{code}}</li>
    {{/each}}
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realTimeProducts.js"></script>